{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="background-purple">
        <nav class="navbar navbar-expand-lg">
            <div class="container mt-3">
                <a class="navbar-brand d-flex align-items-center justify-content-center" style="color:white; font-family: 'Montserrat', sans-serif;">
                    <img src="{% static 'icon-recommendation.png' %}" alt="Logo" width="50" height="40" class="d-inline-block align-text-top me-1">
                    Rekomendasi Buku</a>

                <!-- Filtering without ajax
                <form class="d-flex" role="filter" method="get" action="{% url 'rekomendasi:similar_books' main_book.id %}">
                    <label class = "nav-item" for="publishYear"></label>
                    <input class="form-control me-2" placeholder="Tahun Terbit" aria-label="Tahun Terbit" type="number" name="publishYear" id="publishYear" min="0" step="1">
                    <input type="button" value="Filter" class="btn btn-primary mx-1">
                    <button type="button" class="btn btn-primary mx-1" onclick="getFilteredBooks()">Filter</button>
                    <a href="{% url 'rekomendasi:similar_books' main_book.id %}" class="btn btn-warning mx-1">Reset</a>
                </form> -->

                <form id="filterForm" class="d-flex" role="search" method="get" onsubmit="return false">
                    <label class = "nav-item" for="publishYear"></label>
                    <input class="form-control me-2" placeholder="Masukkan tahun terbit" aria-label="Tahun Terbit" type="number" name="publishYear" id="publishYear" min="0" step="1">
                    <input type="button" value="Filter" class="btn btn-primary mx-1" onclick="getFilteredBooks()">
                    <a href="{% url 'rekomendasi:similar_books' main_book.id %}" class="btn btn-warning mx-1">Reset</a>
                </form>
            </div>
        </nav>

        <section class="hero" stye="padding:80px 0">
            <div class="container">
                <div class="row">
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class ="col-md-6">
                            <div class="text" style="font-family: 'Montserrat', sans-serif; font-size:40px; line-height: 50px; margin-top:30px">
                                Rekomendasi Buku yang Serupa dengan<br> <p style="font-size: 20px; line-height: 30px; margin-top: 20px;">{{ main_book.title }}</p>
                            </div>
                            <div class="buttons" style="padding-top:40px">
                                <a href="#bookRec" class="btn btn-dark" style="font-weight: bold;">Lihat Rekomendasi</a>
                                <button type="button" class="btn btn-warning ms-3" data-bs-toggle="modal" data-bs-target="#exampleModal" style="font-weight: bold;">Rekomendasi Buku Lain</button>
                                <!-- <a href="#" class="btn btn-outline-secondary ms-3" style="font-weight: bold;">Rekomendasi Buku Lain</a> -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="{% static '4.png' %}" alt="book-icon" width="450" height="350" style="margin-left:80px;">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Modal Ganti Rekomendasi Buku -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Rekomendasi dari Buku Lain</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="col-form-label">ISBN:</label>
                            <input type="text" class="form-control" id="isbn" name="isbn"></input>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_submit" data-bs-dismiss="modal">Cari Rekomendasi</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5" id="book_list">
        <h3>Rekomendasi buku ini didapatkan dari tingkat kemiripian beberapa karakteristik buku seperti rating, jumlah review, dan lain sebagainya. </h3>
        {% for recommendation in recommendation_books %}
            <div class="book_rec" id="bookRec">
                <img src="{{ recommendation.recommended_book.image_url }}" alt="{{ recommendation.recommended_book.title }}">
                <h4>{{ recommendation.recommended_book.title }}</h4>
                <p>Author: {{ recommendation.recommended_book.authors }}</p>
                <p>Rating: {{ recommendation.recommended_book.rating }}</p>
                <p>Informasi buku:</p>
            </div>
        {% endfor %}
    </div>

    <script>
        async function getFilteredBooks() {
            const selectedYear = document.getElementById('publishYear').value;
            const url = `{% url 'rekomendasi:filter_books_ajax' main_book.id %}?publishYear=${selectedYear}`;
            
            // HARUS DIEDIT FIX BANGET INI MASIH BELOM BENER YAGAYA
            const response = await fetch(url);
            if (response.ok) {
                document.getElementById("book_list").innerHTML = ""
                const books = await response.json();

                let htmlString = `<h3>Rekomendasi buku ini didapatkan dari tingkat kemiripian beberapa karakteristik buku seperti rating, jumlah review, dan lain sebagainya. </h3>`
                    books.forEach((book) => {
                        htmlString += `\n<div class="book_rec" id="bookRec">
                        <img src="${book.image_url}" alt="${book.title}">
                        <h4>${book.title}</h4>
                        <p>Author: ${book.authors}</p>
                        <p>Rating: ${book.rating}</p>
                        <p>Informasi buku:</p>
                    </div>` 
                    })
                    
                    document.getElementById("book_list").innerHTML = htmlString
            } else {
                alert('Failed to fetch filtered books.');
            }
        }

        // Find ISBM Form -> Melakukan redirect ke halaman rekomendasi buku yang diinginkan
        function findIsbn() {
            fetch("{% url 'rekomendasi:isbn_search' %}", {
                method: "POST",
                body: new FormData(document.querySelector('#form'))
            }).then(response => {
                if (response.ok) {
                    return response.json(); // Parse the JSON response
                } else {
                    // Handle error response
                    document.getElementById("form").reset(); // Reset the form
                    alert('ISBN not found or an error occurred.');
                }
            }).then(data => {
                if (data.redirect_url) {
                    // Redirect to the specified URL
                    window.location.href = data.redirect_url;
                }
            });
            return false;
        }

        document.getElementById("button_submit").onclick = findIsbn;

    </script>

{% endblock content %}