{% extends 'base.html' %}

{% block content %}
<body>
    <h1>{{ book.title }}</h1>
    <img src="{{ book.image_url }}" alt="{{ book.title }} Cover" class="book-image mb-4">
    <p>Author: {{ book.authors }}</p>
    <p>Number of Pages: {{ book.num_of_pages }}</p>
    <p>ISBN: {{ book.isbn }}</p>
    <p>Publisher: {{ book.publisher }}</p>
    <p>Rating: {{ book.rating}} </p>
    <p id="status_buku">Status: {{ book.status }}</p>

    <a href="{% url 'rekomendasi:similar_books' book.pk %}">
        <button class="bg-blue-500 text-white py-2 px-4 rounded-md">Rekomendasi</button> 
    </a>

    {% if user.is_authenticated %}
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Pinjam Buku</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="returnDate">Tanggal Pengembalian</label>
                            <input type="date" class="form-control" id="returnDate" name="return_date">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_borrow" data-bs-dismiss="modal" data-book-id="{{ book.pk }}">Borrow Book</button>
                </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="button_pinjam"></button>
    {% endif %}

</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    async function getBooks() {
        const bookId = document.querySelector('#button_borrow').getAttribute('data-book-id');
        return fetch(`/json/${bookId}`).then((res) => res.json())
    }

    async function refreshBook() {
        const book = await getBooks();
        console.log(book[0].fields.status)

        const bookStatus = document.getElementById("status_buku");
        const buttonPinjam = document.getElementById('button_pinjam');
        const borrowButton = document.getElementById('button_borrow');

        if (book[0].fields.status === 'Available') {
            bookStatus.textContent = `Status: Available`;
            borrowButton.textContent = 'Borrow Book';
            buttonPinjam.textContent = 'Borrow Book';
        } else {
            bookStatus.textContent = `Status: Borrowed`;
            borrowButton.textContent = 'Return Book';
            buttonPinjam.textContent = 'Borrowed';
            buttonPinjam.disabled = true;
        }
    }
    refreshBook();

    function borrowBook(bookId) {
        console.log("masuk fungsi borrowBook")
        console.log(bookId)
        const book = getBooks();
        fetch(`{% url 'pinjam_buku:borrow_book_ajax' book.pk %}`, {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshBook)

        document.getElementById("form").reset()
        return false
    }

    document.getElementById("button_borrow").onclick = function() {  
        const bookId = document.querySelector('#button_borrow').getAttribute('data-book-id'); 
        borrowBook(bookId);
    }

</script>

{% endblock content %}
