{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Font Montserrat -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">

<!-- External Stylesheet -->
<link rel="stylesheet" type="text/css" href=" {% static 'admin/css/styles.css' %} ">

<!-- Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+J4jsl5c9zdLKaUk5Ae5f5b1bw6AUn5f5v8FZJoMxm6f5cH1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

<style>
    .flex.items-left {
    justify-content: flex-start;
}

.flex.items-left .flex {
    margin-right: 10px; /* Adjust the spacing between search input and button as needed */
}

#sort {
    margin-left: 10px; /* Adjust the spacing between search button and sort dropdown as needed */
}

</style>


    <!-- Content -->
    <div class="background-purple" style="padding-bottom: 80px;">
        <nav class="navbar navbar-expand-lg">
            <div class="container mt-3">
                <a class="navbar-brand d-flex align-items-center justify-content-center" style="color:white; font-family: 'Montserrat', sans-serif;">
                    <img src="{% static 'icon-recommendation.png' %}" alt="Logo" width="50" height="40" class="d-inline-block align-text-top me-1 book-image">
                    </a>
            </div>
        </nav>

        <section class="hero" stye="padding:80px 0;">
            <div class="container">
                <div class="row">
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class ="col-md-6">
                            <div class="text" style="font-family: 'Montserrat', sans-serif; font-size:40px; line-height: 50px; margin-top:30px">
                                List of Books<br>
                            </div>
                            <div class="buttons" style="padding-top:40px">
                                <div class="flex justify-center items-left mt-4">
                                    <div class="flex">
                                        <input type="text" placeholder="Search..." class="rounded-l-md p-2 border border-gray-300 focus:ring-2 focus:ring-blue-500">
                                        <button class="bg-blue-500 text-white rounded-r-md p-2">Search</button>
                                    </div>
                                    <label for="sort" class="text-white-600">Sort by:</label>
                                    <select id="sort" name="sort" class="rounded-md p-2 border border-gray-300 focus:ring-2 focus:ring-blue-500">
                                        <option value="title">Alphabetic</option>
                                        <option value="rating">Rating</option>
                                        <option value="pages">Number of Pages</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img class="icon-book-3d" src="{% static '4.png' %}" alt="book-icon" width="450" height="350" style="margin-left:80px;">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="flex justify-center">
        <div class="w-full max-w-screen-xl">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                {% for row in bookdata %}
                    <div class="p-4">
                        <ul class="book-list">
                            {% for book in row %}
                                <li class="book-details bg-white p-4 shadow-md rounded-md">
                                    <h3 class="text-lg font-semibold">{{ book.title }}</h3>
                                    <p class="text-gray-600">Author: {{ book.authors }}</p>
                                    <p class="text-gray-600">Number of Pages: {{ book.num_of_pages }}</p>
                                    <p class="text-gray-600">Rating: {{ book.rating }}</p>
                                    <img src="{{ book.image_url }}" alt="{{ book.title }} Cover" class="book-image mb-4">
                                    <a href="{% url 'main:book_info' book.id %}">
                                        <button class="bg-blue-500 text-white py-2 px-4 rounded-md">Book Information</button>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
